{% extends "layouts/base.html" %} {% block content %}
<h1>about</h1>

<p>
  Cupidatat id ad voluptate tempor exercitation. Aliqua et sint nostrud
  adipisicing veniam et laborum occaecat id magna labore deserunt labore. Dolor
  excepteur enim dolore velit eiusmod nostrud enim. Ea et nostrud velit magna
  enim velit id minim. Cillum aliquip adipisicing nostrud reprehenderit est
  exercitation voluptate adipisicing tempor ad. Aute anim cillum est laborum
  exercitation occaecat commodo qui nulla quis enim ad. Tempor aliqua aliqua
  veniam sunt ut irure commodo consequat Lorem nisi velit. Minim labore non id
  aliqua adipisicing. Labore qui incididunt consectetur proident enim et velit
  adipisicing cillum culpa veniam exercitation voluptate aliquip.
</p>

<p>Website create by {{username}}</p>
{%endblock%}
